<!-- Modal -->
<div class="modal fade" id="{{ html_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ title }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
      </div>
      <div class="modal-body">
        Loading....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="{{ html_id }}-submit" class="js-btn-submit btn btn-primary">{{ submit|default:"Submit" }}</button>
      </div>
    </div>
  </div>
</div>