{% load urltools %}
<div {{ attrs }}>
    {% block items %}
        <div data-listing-container="{{ listing_id }}">
            {% if rows|length %}
                {% for item in rows %}
                    {{ item }}
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}

    {% if listing_mode == "infinite" %}
        <div class="loading-animation">Loading...</div>
    {% endif %}
</div>
