<div class="row" data-listing-container="{{ listing_id }}" {{ attrs }}>
    {% if rows|length %}
        {% for item in rows %}
            {{ item }}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            {{ info_empty|default:"There are no items to display." }}
        </div>
    {% endif %}
</div>