{% load urltools %}
<div {{ attrs }}>

    {% block header %}
        {% if show_header %}
            <div id="{{ listing_id }}-search" class="row">
                <div class="col-md-6">
                    <div class="listing-filter form-group" id="{{ listing_id }}">
                        <input name="{{ listing_id }}-search" class="form-control" data-listing-search="{{ listing_id }}" placeholder="Search" value="{{ search_term|default:"" }}"
                               type="text"
                               aria-controls="{{ listing_id }}">
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% if listing_mode != "infinite" %}
        <div class="loading-animation">Loading...</div>
    {% endif %}

    {% block items %}
        <div class="row" data-listing-container="{{ listing_id }}">
            {% if rows|length %}
                {% for item in rows %}
                    {{ item }}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    {{ info_empty|default:"There are no items to display." }}
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% if listing_mode == "infinite" %}
        <div class="loading-animation">Loading...</div>
    {% endif %}

    {% if show_footer %}
        {% if listing_mode == "paged" %}
            {% block footer %}
                <div id="{{ listing_id }}-pagination" class="row">
                    <div class="col-md-6">
                        <div data-listing-info="{{ listing_id }}" class="pagination">
                            Showing {{ paginator.from }} to {{ paginator.to }} of {{ total }} entries
                            {% if prev_total %}(filtered from {{ prev_total }} total entries){% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div data-listing-pagination="{{ listing_id }}" class="pull-right">
                            <ul>
                                {% if paginator.has_prev %}
                                    <li class="prev"><a href="{% modify_qs qs=paginator.prev_page %}">← Previous</a></li>
                                {% else %}
                                    <li class="prev disabled"><a href="#">← Previous</a></li>
                                {% endif %}

                                {% for link in paginator.prev_pages %}
                                    <li><a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a></li>
                                {% endfor %}

                                <li class="active"><a href="#">{{ paginator.current }}</a></li>

                                {% for link in paginator.next_pages %}
                                    <li><a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a></li>
                                {% endfor %}

                                {% if paginator.has_next %}
                                    <li class="next"><a href="{% modify_qs qs=paginator.next_page %}">Next → </a></li>
                                {% else %}
                                    <li class="next disabled"><a href="#">Next → </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
</div>
