{% load urltools %}
<ul data-listing-pagination="{{ listing_id }}" class="pagination">
    {% if paginator.has_prev %}
        <li class="prev">
            <a href="{% modify_qs qs=paginator.prev_page %}">← Previous</a>
        </li>
    {% else %}
        <li class="prev disabled">
            <a href="#">← Previous</a>
        </li>
    {% endif %}

    {% for link in paginator.prev_pages %}
        <li>
            <a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a>
        </li>
    {% endfor %}

    <li class="active">
        <a href="#">{{ paginator.current }}</a>
    </li>

    {% for link in paginator.next_pages %}
        <li>
            <a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a>
        </li>
    {% endfor %}

    {% if paginator.has_next %}
        <li class="next">
            <a href="{% modify_qs qs=paginator.next_page %}">Next →</a>
        </li>
    {% else %}
        <li class="next disabled">
            <a href="#">Next →</a>
        </li>
    {% endif %}
</ul>