{% extends BASE_TEMPLATE %}
{% load js_widgets %}
{% block page-heading %}
    <div class="pull-right">
        <a href="{{ add_url }}" {% modal "Add Category" %} class="btn btn-success">Add Image</a>
    </div>
    <h3>{{ page_heading }}</h3>
{% endblock %}

{% block page-content %}
    {{ table }}
{% endblock %}