<div class="clearfix" data-listing-item="true">


    <div>
        <div class="pull-right">
            {{ edit }}
            {{ delete }}
        </div>

        {{ name }} - {{ percentage }}%
    </div>
    On: {{ apply_on }}
</div>