<div class="col-md-3"{{ attrs }}>
    <div class="panel">
        <div class="panel-heading">
            {{ name }}
            <div class="pull-right">
                {{ delete }}
            </div>
        </div>
        <div class="panel-body">
            <div>
                <b>Rules</b>
            </div>
            {{ rules }}
            <hr>
            {{ add_rule }}
        </div>
    </div>
</div>
