.text-box-prefix {
    position: relative;
    display: inline-block
}

.text-box-prefix.block {
    display: block
}

.text-box-prefix * {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.text-box-prefix .hide {
    display: none
}

.text-box-prefix .v-hide {
    visibility: hidden
}

.text-box-prefix input, .text-box-prefix input[type=text], .text-box-prefix input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    transition: background-color 100ms ease-out
}

.text-box-prefix .prefix-container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1px
}

.text-box-prefix .prefix-container:hover {
    cursor: pointer
}

.text-box-prefix input[disabled] + .prefix-container:hover, .text-box-prefix input[readonly] + .prefix-container:hover {
    cursor: default
}

.text-box-prefix input[disabled] + .prefix-container:hover .prefix-text, .text-box-prefix input[readonly] + .prefix-container:hover .prefix-text {
    background-color: transparent
}

.text-box-prefix .prefix-text {
    z-index: 1;
    position: relative;
    width: 42px;
    height: 100%;
    padding: 0 0 0 8px
}

.text-box-prefix .prefix-text .content {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
}

.text-box-prefix .prefix-text .arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 4px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

.text-box-prefix .prefix-text .arrow.up {
    border-top: none;
    border-bottom: 4px solid #555
}

.text-box-prefix select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 42px;
    height: 100%;
    opacity: 0
}

.text-box-prefix.iti-container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px
}

.text-box-prefix.iti-container:hover {
    cursor: pointer
}

.text-box-prefix input::-webkit-outer-spin-button,
.text-box-prefix input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}