<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to Pay U Money</title>
</head>
<body>
<p>Redirecting to Pay U Money</p>
<form action="{{ action }}" method="post" name="payuForm">
    <input type="hidden" name="key" value="{{ KEY }}"/>
    <input type="hidden" name="hash" value="{{ HASH }}"/>
    <input type="hidden" name="txnid" value="{{ transaction.transaction_id }}"/>
    <input type="hidden" name="amount" value="{{ transaction.amount }}"/>

    <input type="hidden" name="productinfo" value="{{ transaction.product_info }}"/>
    <input type="hidden" name="firstname" value="{{ transaction.first_name }}"/>
    <input type="hidden" name="email" value="{{ transaction.email }}"/>

    <input type="hidden" name="udf1" value="{{ transaction.udf1 }}"/>
    <input type="hidden" name="udf2" value="{{ transaction.udf2 }}"/>
    <input type="hidden" name="udf3" value="{{ transaction.udf3 }}"/>
    <input type="hidden" name="udf4" value="{{ transaction.udf4 }}"/>
    <input type="hidden" name="udf5" value="{{ transaction.udf5 }}"/>
    <input type="hidden" name="udf6" value="{{ transaction.udf6 }}"/>
    <input type="hidden" name="udf7" value="{{ transaction.udf7 }}"/>
    <input type="hidden" name="udf8" value="{{ transaction.udf8 }}"/>
    <input type="hidden" name="udf9" value="{{ transaction.udf9 }}"/>
    <input type="hidden" name="udf10" value="{{ transaction.udf10 }}"/>

    <input type="hidden" name="service_provider" value="payu_paisa" size="64" />

    <input type="hidden" name="furl" value="{{ failure_url }}"/>
    <input type="hidden" name="surl" value="{{ success_url }}"/>
</form>
<script>
    (function () {
        var payuForm = document.forms.payuForm;
        payuForm.submit();
    }());
</script>
</body>

</html>