{% if form.errors %}
    <div class="alert alert-danger">
        <strong style="display: block">Please correct the errors.</strong>
        {% if form.non_field_errors %}
            <ol>
                {% for err in form.non_field_errors %}
                    <li><span>{{ err }}</span></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endif %}