{% load form_render_helper %}
<div class="{% if errors %} has-error{% endif %}{% if container_class_names %} {{ container_class_names }}{% endif %}"
     id="container_{{ id_for_label }}">
    <div class="form-group">
        {% if field|is_checkbox %}
            <div class="{% if label_span %}col-md-{{ field_span }} col-md-push-{{ label_span }}{% endif %}">
                <label class="control-label">{{ field }} {{ label }}</label>
            </div>
        {% else %}

            {% if not no_label %}
                <label class="{% if label_span %}col-md-{{ label_span }} {% endif %}control-label" for="{{ id_for_label }}">{{ label }} : </label>
            {% endif %}

            {% if field_span %}
                <div class="col-md-{{ field_span }}{% if no_label %} col-md-push-{{ label_span }}{% endif %}">
            {% endif %}


        {% if need_group %}
            <div class="input-group">
        {% endif %}


        {% if prepend_buttons %}
            {% for prepend_button in prepend_buttons %}
                <div class="input-group-btn">{{ prepend_button | safe }}</div>
            {% endfor %}
        {% endif %}

        {% if prepends %}
            {% for prepend in prepends %}
                <div class="input-group-addon">{{ prepend | safe }}</div>
            {% endfor %}
        {% endif %}

        {{ field }}

        {% if appends %}
            {% for append in appends %}
                <div class="input-group-addon">{{ append | safe }}</div>
            {% endfor %}
        {% endif %}

        {% if append_buttons %}
            {% for append_button in append_buttons %}
                <div class="input-group-btn">{{ append_button | safe }}</div>
            {% endfor %}
        {% endif %}

        {% if errors %}
            {% for error_msg in errors %}
                <label class="help-block" for="{{ id_for_label }}">
                    {{ error_msg }}
                </label>
            {% endfor %}
        {% else %}
            {% if help_text %}
                <label for="{{ id_for_label }}">
                    <span class="help-block">{{ help_text }}</span>
                </label>
            {% endif %}
        {% endif %}

        {% if need_group %}
            </div>
        {% endif %}

        {% if field_span %}
            </div>
        {% endif %}
        {% endif %}
    </div>
</div>
