{% load form_render_helper %}
<div class="{% if form_field.container_class_names %} {{ form_field.container_class_names }}{% endif %}">

    <div class="form-group">
        {% if not no_label %}
            <label class="{% if label_span %}col-md-{{ label_span }} {% endif %}control-label">{{ label }} : </label>
        {% endif %}

        {% if field_span %}
            <div class="col-md-{{ field_span }}{% if no_label %} col-md-push-{{ label_span }}{% endif %}">
        {% endif %}

        {{ value }}

        {% if field_span %}
            </div>
        {% endif %}
    </div>

</div>
