<!--Thumbnail Navigation-->
<div id="prevthumb"></div>
<div id="nextthumb"></div>

<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>

<div id="thumb-tray" class="load-item">
    <div id="thumb-back"></div>
    <div id="thumb-forward"></div>
</div>

<!--Time Bar-->
{% if progress_bar == 'true' %}
    <div id="progress-back" class="load-item">
        <div id="progress-bar"></div>
    </div>
{% endif %}

<!--Control Bar-->
{% if not hide_controls %}
    <div id="controls-wrapper" class="load-item">
        <div id="controls">

            <a id="play-button"><img id="pauseplay" src="{{ STATIC_URL }}super-sized/img/pause.png"/></a>

            <!--Slide counter-->
            <div id="slidecounter">
                <span class="slidenumber"></span> / <span class="totalslides"></span>
            </div>

            <!--Slide captions displayed here-->
            <div id="slidecaption"></div>

            <!--Thumb Tray button-->
            <a id="tray-button"><img id="tray-arrow" src="{{ STATIC_URL }}super-sized/img/button-tray-up.png"/></a>

            <!--Navigation-->
            <ul id="slide-list"></ul>

        </div>
    </div>
{% endif %}