<div class="col-md-3 clearfix" data-listing-item="true">
    <div class="list-group-item">
        <div class="pull-right">
            {{ edit }}
            {{ delete }}
        </div>

        {{ name }}
    </div>
</div>