.material-form-group {
    display: flex;
    height: 55px;
}

.material-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.material-form-group.focused .material-label {
    opacity: 1;
    transform: scale(0.75);
}

.material-control {
    align-self: flex-end;
    border: 0px;
    border-bottom: 1px solid;

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;
}

.material-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.material-control:focus::-webkit-input-placeholder {
    transition: none;
}

.material-control:focus::-webkit-input-placeholder {
    color: #bbb;
}

.material-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}