<table{% if html_id %} id="{{ html_id }}"{% endif %} class="table table-bordered">
    <thead>
    <tr>
        {% for column in columns %}
            <th{% if column.width %} style="width: {{ column.width }}" {% endif %}>{{ column.title }}</th>
        {% endfor %}
        {% if can_delete %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if initial_data %}
        {% for row in initial_data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                {% if can_delete %}
                    <td><a href="#" data-array-remove-btn="true" class="btn btn-danger"><i class="icon icon-minus-circled"></i></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
    {% for i in initial_field_count %}
        <tr>
            {% for column in columns %}
                <td{% if column.width %} style="width: {{ column.width }}" {% endif %}>{{ column.html }}</td>
            {% endfor %}
            {% if can_delete %}
                <td><a href="#" data-array-remove-btn="true" class="btn btn-danger"><i class="icon icon-minus-circled"></i></a></td>
            {% endif %}
        </tr>

    {% endfor %}
    </tbody>
</table>
{% if can_add %}
    <a href="#" data-array-add-btn="{{ html_id }}" class="btn btn-success"><i class="icon icon-plus-circled"></i></a>
{% endif %}
