.masonry.col-4 {
  column-count: 1;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.masonry.col-4 .masonry-item {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (max-width: 767px) {
  .masonry.col-4 {
    column-count: 2;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .masonry.col-4 {
    column-count: 2;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .masonry.col-3 {
    column-count: 1;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }
}
@media (min-width: 1200px) {
  .masonry.col-4 {
    column-count: 4;
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
  }
}
