/* Margin */
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}

.m-40 {
    margin: 40px;
}

.m-45 {
    margin: 45px;
}

.m-50 {
    margin: 50px;
}

/* Margin Bottom */

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-b-50 {
    margin-bottom: 50px;
}

/* Margin Top */

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-t-50 {
    margin-top: 50px;
}

/* Margin Left */

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-l-45 {
    margin-left: 45px;
}

.m-l-50 {
    margin-left: 50px;
}

/* Margin Right */

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-r-50 {
    margin-right: 50px;
}

/* Margin No Margin */

.no-margin {
    margin: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-top: 0;
}

@media (max-width: 767px) {
    .no-margin-xs {
        margin: 0 !important;
    }

    .no-margin-right-xs {
        margin-right: 0 !important;
    }

    .no-margin-left-xs {
        margin-left: 0 !important;
    }

    .no-margin-top-xs {
        margin-top: 0 !important;
    }

    .no-margin-bottom-xs {
        margin-top: 0 !important;
    }

    .m-xs-5 {
        margin: 5px;
    }

    .m-xs-10 {
        margin: 10px;
    }

    .m-xs-15 {
        margin: 15px;
    }

    .m-xs-20 {
        margin: 20px;
    }

    .m-xs-25 {
        margin: 25px;
    }

    .m-xs-30 {
        margin: 30px;
    }

    .m-xs-35 {
        margin: 35px;
    }

    .m-xs-40 {
        margin: 40px;
    }

    .m-xs-45 {
        margin: 45px;
    }

    .m-xs-50 {
        margin: 50px;
    }

    /* Margin Bottom */
    .m-b-xs-5 {
        margin-bottom: 5px;
    }

    .m-b-xs-10 {
        margin-bottom: 10px;
    }

    .m-b-xs-15 {
        margin-bottom: 15px;
    }

    .m-b-xs-20 {
        margin-bottom: 20px;
    }

    .m-b-xs-25 {
        margin-bottom: 25px;
    }

    .m-b-xs-30 {
        margin-bottom: 30px;
    }

    .m-b-xs-35 {
        margin-bottom: 35px;
    }

    .m-b-xs-40 {
        margin-bottom: 40px;
    }

    .m-b-xs-45 {
        margin-bottom: 45px;
    }

    .m-b-xs-50 {
        margin-bottom: 50px;
    }

    /* Margin Top */
    .m-t-xs-5 {
        margin-top: 5px;
    }

    .m-t-xs-10 {
        margin-top: 10px;
    }

    .m-t-xs-15 {
        margin-top: 15px;
    }

    .m-t-xs-20 {
        margin-top: 20px;
    }

    .m-t-xs-25 {
        margin-top: 25px;
    }

    .m-t-xs-30 {
        margin-top: 30px;
    }

    .m-t-xs-35 {
        margin-top: 35px;
    }

    .m-t-xs-40 {
        margin-top: 40px;
    }

    .m-t-xs-45 {
        margin-top: 45px;
    }

    .m-t-xs-50 {
        margin-top: 50px;
    }

    /* Margin Left */
    .m-l-xs-5 {
        margin-left: 5px;
    }

    .m-l-xs-10 {
        margin-left: 10px;
    }

    .m-l-xs-15 {
        margin-left: 15px;
    }

    .m-l-xs-20 {
        margin-left: 20px;
    }

    .m-l-xs-25 {
        margin-left: 25px;
    }

    .m-l-xs-30 {
        margin-left: 30px;
    }

    .m-l-xs-35 {
        margin-left: 35px;
    }

    .m-l-xs-40 {
        margin-left: 40px;
    }

    .m-l-xs-45 {
        margin-left: 45px;
    }

    .m-l-xs-50 {
        margin-left: 50px;
    }

    /* Margin Right */
    .m-r-xs-5 {
        margin-right: 5px;
    }

    .m-r-xs-10 {
        margin-right: 10px;
    }

    .m-r-xs-15 {
        margin-right: 15px;
    }

    .m-r-xs-20 {
        margin-right: 20px;
    }

    .m-r-xs-25 {
        margin-right: 25px;
    }

    .m-r-xs-30 {
        margin-right: 30px;
    }

    .m-r-xs-35 {
        margin-right: 35px;
    }

    .m-r-xs-40 {
        margin-right: 40px;
    }

    .m-r-xs-45 {
        margin-right: 45px;
    }

    .m-r-xs-50 {
        margin-right: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .no-margin-sm {
        margin: 0 !important;
    }

    .no-margin-right-sm {
        margin-right: 0 !important;
    }

    .no-margin-left-sm {
        margin-left: 0 !important;
    }

    .no-margin-top-sm {
        margin-top: 0 !important;
    }

    .no-margin-bottom-sm {
        margin-top: 0 !important;
    }

    .m-sm-5 {
        margin: 5px;
    }

    .m-sm-10 {
        margin: 10px;
    }

    .m-sm-15 {
        margin: 15px;
    }

    .m-sm-20 {
        margin: 20px;
    }

    .m-sm-25 {
        margin: 25px;
    }

    .m-sm-30 {
        margin: 30px;
    }

    .m-sm-35 {
        margin: 35px;
    }

    .m-sm-40 {
        margin: 40px;
    }

    .m-sm-45 {
        margin: 45px;
    }

    .m-sm-50 {
        margin: 50px;
    }

    /* Margin Bottom */
    .m-b-sm-5 {
        margin-bottom: 5px;
    }

    .m-b-sm-10 {
        margin-bottom: 10px;
    }

    .m-b-sm-15 {
        margin-bottom: 15px;
    }

    .m-b-sm-20 {
        margin-bottom: 20px;
    }

    .m-b-sm-25 {
        margin-bottom: 25px;
    }

    .m-b-sm-30 {
        margin-bottom: 30px;
    }

    .m-b-sm-35 {
        margin-bottom: 35px;
    }

    .m-b-sm-40 {
        margin-bottom: 40px;
    }

    .m-b-sm-45 {
        margin-bottom: 45px;
    }

    .m-b-sm-50 {
        margin-bottom: 50px;
    }

    /* Margin Top */
    .m-t-sm-5 {
        margin-top: 5px;
    }

    .m-t-sm-10 {
        margin-top: 10px;
    }

    .m-t-sm-15 {
        margin-top: 15px;
    }

    .m-t-sm-20 {
        margin-top: 20px;
    }

    .m-t-sm-25 {
        margin-top: 25px;
    }

    .m-t-sm-30 {
        margin-top: 30px;
    }

    .m-t-sm-35 {
        margin-top: 35px;
    }

    .m-t-sm-40 {
        margin-top: 40px;
    }

    .m-t-sm-45 {
        margin-top: 45px;
    }

    .m-t-sm-50 {
        margin-top: 50px;
    }

    /* Margin Left */
    .m-l-sm-5 {
        margin-left: 5px;
    }

    .m-l-sm-10 {
        margin-left: 10px;
    }

    .m-l-sm-15 {
        margin-left: 15px;
    }

    .m-l-sm-20 {
        margin-left: 20px;
    }

    .m-l-sm-25 {
        margin-left: 25px;
    }

    .m-l-sm-30 {
        margin-left: 30px;
    }

    .m-l-sm-35 {
        margin-left: 35px;
    }

    .m-l-sm-40 {
        margin-left: 40px;
    }

    .m-l-sm-45 {
        margin-left: 45px;
    }

    .m-l-sm-50 {
        margin-left: 50px;
    }

    /* Margin Right */
    .m-r-sm-5 {
        margin-right: 5px;
    }

    .m-r-sm-10 {
        margin-right: 10px;
    }

    .m-r-sm-15 {
        margin-right: 15px;
    }

    .m-r-sm-20 {
        margin-right: 20px;
    }

    .m-r-sm-25 {
        margin-right: 25px;
    }

    .m-r-sm-30 {
        margin-right: 30px;
    }

    .m-r-sm-35 {
        margin-right: 35px;
    }

    .m-r-sm-40 {
        margin-right: 40px;
    }

    .m-r-sm-45 {
        margin-right: 45px;
    }

    .m-r-sm-50 {
        margin-right: 50px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .no-margin-md {
        margin: 0 !important;
    }

    .no-margin-right-md {
        margin-right: 0 !important;
    }

    .no-margin-left-md {
        margin-left: 0 !important;
    }

    .no-margin-top-md {
        margin-top: 0 !important;
    }

    .no-margin-bottom-md {
        margin-top: 0 !important;
    }

    .m-md-5 {
        margin: 5px;
    }

    .m-md-10 {
        margin: 10px;
    }

    .m-md-15 {
        margin: 15px;
    }

    .m-md-20 {
        margin: 20px;
    }

    .m-md-25 {
        margin: 25px;
    }

    .m-md-30 {
        margin: 30px;
    }

    .m-md-35 {
        margin: 35px;
    }

    .m-md-40 {
        margin: 40px;
    }

    .m-md-45 {
        margin: 45px;
    }

    .m-md-50 {
        margin: 50px;
    }

    /* Margin Bottom */
    .m-b-md-5 {
        margin-bottom: 5px;
    }

    .m-b-md-10 {
        margin-bottom: 10px;
    }

    .m-b-md-15 {
        margin-bottom: 15px;
    }

    .m-b-md-20 {
        margin-bottom: 20px;
    }

    .m-b-md-25 {
        margin-bottom: 25px;
    }

    .m-b-md-30 {
        margin-bottom: 30px;
    }

    .m-b-md-35 {
        margin-bottom: 35px;
    }

    .m-b-md-40 {
        margin-bottom: 40px;
    }

    .m-b-md-45 {
        margin-bottom: 45px;
    }

    .m-b-md-50 {
        margin-bottom: 50px;
    }

    /* Margin Top */
    .m-t-md-5 {
        margin-top: 5px;
    }

    .m-t-md-10 {
        margin-top: 10px;
    }

    .m-t-md-15 {
        margin-top: 15px;
    }

    .m-t-md-20 {
        margin-top: 20px;
    }

    .m-t-md-25 {
        margin-top: 25px;
    }

    .m-t-md-30 {
        margin-top: 30px;
    }

    .m-t-md-35 {
        margin-top: 35px;
    }

    .m-t-md-40 {
        margin-top: 40px;
    }

    .m-t-md-45 {
        margin-top: 45px;
    }

    .m-t-md-50 {
        margin-top: 50px;
    }

    /* Margin Left */
    .m-l-md-5 {
        margin-left: 5px;
    }

    .m-l-md-10 {
        margin-left: 10px;
    }

    .m-l-md-15 {
        margin-left: 15px;
    }

    .m-l-md-20 {
        margin-left: 20px;
    }

    .m-l-md-25 {
        margin-left: 25px;
    }

    .m-l-md-30 {
        margin-left: 30px;
    }

    .m-l-md-35 {
        margin-left: 35px;
    }

    .m-l-md-40 {
        margin-left: 40px;
    }

    .m-l-md-45 {
        margin-left: 45px;
    }

    .m-l-md-50 {
        margin-left: 50px;
    }

    /* Margin Right */
    .m-r-md-5 {
        margin-right: 5px;
    }

    .m-r-md-10 {
        margin-right: 10px;
    }

    .m-r-md-15 {
        margin-right: 15px;
    }

    .m-r-md-20 {
        margin-right: 20px;
    }

    .m-r-md-25 {
        margin-right: 25px;
    }

    .m-r-md-30 {
        margin-right: 30px;
    }

    .m-r-md-35 {
        margin-right: 35px;
    }

    .m-r-md-40 {
        margin-right: 40px;
    }

    .m-r-md-45 {
        margin-right: 45px;
    }

    .m-r-md-50 {
        margin-right: 50px;
    }

}

@media (min-width: 1200px) {
    .no-margin-lg {
        margin: 0 !important;
    }

    .no-margin-right-lg {
        margin-right: 0 !important;
    }

    .no-margin-left-lg {
        margin-left: 0 !important;
    }

    .no-margin-top-lg {
        margin-top: 0 !important;
    }

    .no-margin-bottom-lg {
        margin-top: 0 !important;
    }

    .m-lg-5 {
        margin: 5px;
    }

    .m-lg-10 {
        margin: 10px;
    }

    .m-lg-15 {
        margin: 15px;
    }

    .m-lg-20 {
        margin: 20px;
    }

    .m-lg-25 {
        margin: 25px;
    }

    .m-lg-30 {
        margin: 30px;
    }

    .m-lg-35 {
        margin: 35px;
    }

    .m-lg-40 {
        margin: 40px;
    }

    .m-lg-45 {
        margin: 45px;
    }

    .m-lg-50 {
        margin: 50px;
    }

    /* Margin Bottom */
    .m-b-lg-5 {
        margin-bottom: 5px;
    }

    .m-b-lg-10 {
        margin-bottom: 10px;
    }

    .m-b-lg-15 {
        margin-bottom: 15px;
    }

    .m-b-lg-20 {
        margin-bottom: 20px;
    }

    .m-b-lg-25 {
        margin-bottom: 25px;
    }

    .m-b-lg-30 {
        margin-bottom: 30px;
    }

    .m-b-lg-35 {
        margin-bottom: 35px;
    }

    .m-b-lg-40 {
        margin-bottom: 40px;
    }

    .m-b-lg-45 {
        margin-bottom: 45px;
    }

    .m-b-lg-50 {
        margin-bottom: 50px;
    }

    /* Margin Top */
    .m-t-lg-5 {
        margin-top: 5px;
    }

    .m-t-lg-10 {
        margin-top: 10px;
    }

    .m-t-lg-15 {
        margin-top: 15px;
    }

    .m-t-lg-20 {
        margin-top: 20px;
    }

    .m-t-lg-25 {
        margin-top: 25px;
    }

    .m-t-lg-30 {
        margin-top: 30px;
    }

    .m-t-lg-35 {
        margin-top: 35px;
    }

    .m-t-lg-40 {
        margin-top: 40px;
    }

    .m-t-lg-45 {
        margin-top: 45px;
    }

    .m-t-lg-50 {
        margin-top: 50px;
    }

    /* Margin Left */
    .m-l-lg-5 {
        margin-left: 5px;
    }

    .m-l-lg-10 {
        margin-left: 10px;
    }

    .m-l-lg-15 {
        margin-left: 15px;
    }

    .m-l-lg-20 {
        margin-left: 20px;
    }

    .m-l-lg-25 {
        margin-left: 25px;
    }

    .m-l-lg-30 {
        margin-left: 30px;
    }

    .m-l-lg-35 {
        margin-left: 35px;
    }

    .m-l-lg-40 {
        margin-left: 40px;
    }

    .m-l-lg-45 {
        margin-left: 45px;
    }

    .m-l-lg-50 {
        margin-left: 50px;
    }

    /* Margin Right */
    .m-r-lg-5 {
        margin-right: 5px;
    }

    .m-r-lg-10 {
        margin-right: 10px;
    }

    .m-r-lg-15 {
        margin-right: 15px;
    }

    .m-r-lg-20 {
        margin-right: 20px;
    }

    .m-r-lg-25 {
        margin-right: 25px;
    }

    .m-r-lg-30 {
        margin-right: 30px;
    }

    .m-r-lg-35 {
        margin-right: 35px;
    }

    .m-r-lg-40 {
        margin-right: 40px;
    }

    .m-r-lg-45 {
        margin-right: 45px;
    }

    .m-r-lg-50 {
        margin-right: 50px;
    }

}