.no-border {
    border: 0;
}

.no-border-top {
    border-top: 0;
}

.no-border-right {
    border-right: 0;
}

.no-border-bottom {
    border-bottom: 0;
}

.no-border-right {
    border-right: 0;
}

@media (max-width: 767px) {
    .no-border-xs {
        border: 0 !important;
    }

    .no-border-right-xs {
        border-right: 0 !important;
    }

    .no-border-left-xs {
        border-left: 0 !important;
    }

    .no-border-top-xs {
        border-top: 0 !important;
    }

    .no-border-bottom-xs {
        border-top: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .no-border-sm {
        border: 0 !important;
    }

    .no-border-right-sm {
        border-right: 0 !important;
    }

    .no-border-left-sm {
        border-left: 0 !important;
    }

    .no-border-top-sm {
        border-top: 0 !important;
    }

    .no-border-bottom-sm {
        border-top: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .no-border-md {
        border: 0 !important;
    }

    .no-border-right-md {
        border-right: 0 !important;
    }

    .no-border-left-md {
        border-left: 0 !important;
    }

    .no-border-top-md {
        border-top: 0 !important;
    }

    .no-border-bottom-md {
        border-top: 0 !important;
    }
}

@media (min-width: 1200px) {
    .no-border-lg {
        border: 0 !important;
    }

    .no-border-right-lg {
        border-right: 0 !important;
    }

    .no-border-left-lg {
        border-left: 0 !important;
    }

    .no-border-top-lg {
        border-top: 0 !important;
    }

    .no-border-bottom-lg {
        border-top: 0 !important;
    }
}