/* padding */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-35 {
    padding: 35px;
}

.p-40 {
    padding: 40px;
}

.p-45 {
    padding: 45px;
}

.p-50 {
    padding: 50px;
}

/* padding Bottom */

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.p-b-50 {
    padding-bottom: 50px;
}

/* padding Top */

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-t-50 {
    padding-top: 50px;
}

/* padding Left */

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-45 {
    padding-left: 45px;
}

.p-l-50 {
    padding-left: 50px;
}

/* padding Right */

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-r-45 {
    padding-right: 45px;
}

.p-r-50 {
    padding-right: 50px;
}

/* padding No padding */

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-top: 0;
}

@media (max-width: 767px) {
    .no-padding-xs {
        padding: 0 !important;
    }

    .no-padding-right-xs {
        padding-right: 0 !important;
    }

    .no-padding-left-xs {
        padding-left: 0 !important;
    }

    .no-padding-top-xs {
        padding-top: 0 !important;
    }

    .no-padding-bottom-xs {
        padding-top: 0 !important;
    }

    .p-xs-5 {
        padding: 5px;
    }

    .p-xs-10 {
        padding: 10px;
    }

    .p-xs-15 {
        padding: 15px;
    }

    .p-xs-20 {
        padding: 20px;
    }

    .p-xs-25 {
        padding: 25px;
    }

    .p-xs-30 {
        padding: 30px;
    }

    .p-xs-35 {
        padding: 35px;
    }

    .p-xs-40 {
        padding: 40px;
    }

    .p-xs-45 {
        padding: 45px;
    }

    .p-xs-50 {
        padding: 50px;
    }

    /* padding Bottom */
    .p-b-xs-5 {
        padding-bottom: 5px;
    }

    .p-b-xs-10 {
        padding-bottom: 10px;
    }

    .p-b-xs-15 {
        padding-bottom: 15px;
    }

    .p-b-xs-20 {
        padding-bottom: 20px;
    }

    .p-b-xs-25 {
        padding-bottom: 25px;
    }

    .p-b-xs-30 {
        padding-bottom: 30px;
    }

    .p-b-xs-35 {
        padding-bottom: 35px;
    }

    .p-b-xs-40 {
        padding-bottom: 40px;
    }

    .p-b-xs-45 {
        padding-bottom: 45px;
    }

    .p-b-xs-50 {
        padding-bottom: 50px;
    }

    /* padding Top */
    .p-t-xs-5 {
        padding-top: 5px;
    }

    .p-t-xs-10 {
        padding-top: 10px;
    }

    .p-t-xs-15 {
        padding-top: 15px;
    }

    .p-t-xs-20 {
        padding-top: 20px;
    }

    .p-t-xs-25 {
        padding-top: 25px;
    }

    .p-t-xs-30 {
        padding-top: 30px;
    }

    .p-t-xs-35 {
        padding-top: 35px;
    }

    .p-t-xs-40 {
        padding-top: 40px;
    }

    .p-t-xs-45 {
        padding-top: 45px;
    }

    .p-t-xs-50 {
        padding-top: 50px;
    }

    /* padding Left */
    .p-l-xs-5 {
        padding-left: 5px;
    }

    .p-l-xs-10 {
        padding-left: 10px;
    }

    .p-l-xs-15 {
        padding-left: 15px;
    }

    .p-l-xs-20 {
        padding-left: 20px;
    }

    .p-l-xs-25 {
        padding-left: 25px;
    }

    .p-l-xs-30 {
        padding-left: 30px;
    }

    .p-l-xs-35 {
        padding-left: 35px;
    }

    .p-l-xs-40 {
        padding-left: 40px;
    }

    .p-l-xs-45 {
        padding-left: 45px;
    }

    .p-l-xs-50 {
        padding-left: 50px;
    }

    /* padding Right */
    .p-r-xs-5 {
        padding-right: 5px;
    }

    .p-r-xs-10 {
        padding-right: 10px;
    }

    .p-r-xs-15 {
        padding-right: 15px;
    }

    .p-r-xs-20 {
        padding-right: 20px;
    }

    .p-r-xs-25 {
        padding-right: 25px;
    }

    .p-r-xs-30 {
        padding-right: 30px;
    }

    .p-r-xs-35 {
        padding-right: 35px;
    }

    .p-r-xs-40 {
        padding-right: 40px;
    }

    .p-r-xs-45 {
        padding-right: 45px;
    }

    .p-r-xs-50 {
        padding-right: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .no-padding-sm {
        padding: 0 !important;
    }

    .no-padding-right-sm {
        padding-right: 0 !important;
    }

    .no-padding-left-sm {
        padding-left: 0 !important;
    }

    .no-padding-top-sm {
        padding-top: 0 !important;
    }

    .no-padding-bottom-sm {
        padding-top: 0 !important;
    }

    .p-sm-5 {
        padding: 5px;
    }

    .p-sm-10 {
        padding: 10px;
    }

    .p-sm-15 {
        padding: 15px;
    }

    .p-sm-20 {
        padding: 20px;
    }

    .p-sm-25 {
        padding: 25px;
    }

    .p-sm-30 {
        padding: 30px;
    }

    .p-sm-35 {
        padding: 35px;
    }

    .p-sm-40 {
        padding: 40px;
    }

    .p-sm-45 {
        padding: 45px;
    }

    .p-sm-50 {
        padding: 50px;
    }

    /* padding Bottom */
    .p-b-sm-5 {
        padding-bottom: 5px;
    }

    .p-b-sm-10 {
        padding-bottom: 10px;
    }

    .p-b-sm-15 {
        padding-bottom: 15px;
    }

    .p-b-sm-20 {
        padding-bottom: 20px;
    }

    .p-b-sm-25 {
        padding-bottom: 25px;
    }

    .p-b-sm-30 {
        padding-bottom: 30px;
    }

    .p-b-sm-35 {
        padding-bottom: 35px;
    }

    .p-b-sm-40 {
        padding-bottom: 40px;
    }

    .p-b-sm-45 {
        padding-bottom: 45px;
    }

    .p-b-sm-50 {
        padding-bottom: 50px;
    }

    /* padding Top */
    .p-t-sm-5 {
        padding-top: 5px;
    }

    .p-t-sm-10 {
        padding-top: 10px;
    }

    .p-t-sm-15 {
        padding-top: 15px;
    }

    .p-t-sm-20 {
        padding-top: 20px;
    }

    .p-t-sm-25 {
        padding-top: 25px;
    }

    .p-t-sm-30 {
        padding-top: 30px;
    }

    .p-t-sm-35 {
        padding-top: 35px;
    }

    .p-t-sm-40 {
        padding-top: 40px;
    }

    .p-t-sm-45 {
        padding-top: 45px;
    }

    .p-t-sm-50 {
        padding-top: 50px;
    }

    /* padding Left */
    .p-l-sm-5 {
        padding-left: 5px;
    }

    .p-l-sm-10 {
        padding-left: 10px;
    }

    .p-l-sm-15 {
        padding-left: 15px;
    }

    .p-l-sm-20 {
        padding-left: 20px;
    }

    .p-l-sm-25 {
        padding-left: 25px;
    }

    .p-l-sm-30 {
        padding-left: 30px;
    }

    .p-l-sm-35 {
        padding-left: 35px;
    }

    .p-l-sm-40 {
        padding-left: 40px;
    }

    .p-l-sm-45 {
        padding-left: 45px;
    }

    .p-l-sm-50 {
        padding-left: 50px;
    }

    /* padding Right */
    .p-r-sm-5 {
        padding-right: 5px;
    }

    .p-r-sm-10 {
        padding-right: 10px;
    }

    .p-r-sm-15 {
        padding-right: 15px;
    }

    .p-r-sm-20 {
        padding-right: 20px;
    }

    .p-r-sm-25 {
        padding-right: 25px;
    }

    .p-r-sm-30 {
        padding-right: 30px;
    }

    .p-r-sm-35 {
        padding-right: 35px;
    }

    .p-r-sm-40 {
        padding-right: 40px;
    }

    .p-r-sm-45 {
        padding-right: 45px;
    }

    .p-r-sm-50 {
        padding-right: 50px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .no-padding-md {
        padding: 0 !important;
    }

    .no-padding-right-md {
        padding-right: 0 !important;
    }

    .no-padding-left-md {
        padding-left: 0 !important;
    }

    .no-padding-top-md {
        padding-top: 0 !important;
    }

    .no-padding-bottom-md {
        padding-top: 0 !important;
    }

    .p-md-5 {
        padding: 5px;
    }

    .p-md-10 {
        padding: 10px;
    }

    .p-md-15 {
        padding: 15px;
    }

    .p-md-20 {
        padding: 20px;
    }

    .p-md-25 {
        padding: 25px;
    }

    .p-md-30 {
        padding: 30px;
    }

    .p-md-35 {
        padding: 35px;
    }

    .p-md-40 {
        padding: 40px;
    }

    .p-md-45 {
        padding: 45px;
    }

    .p-md-50 {
        padding: 50px;
    }

    /* padding Bottom */
    .p-b-md-5 {
        padding-bottom: 5px;
    }

    .p-b-md-10 {
        padding-bottom: 10px;
    }

    .p-b-md-15 {
        padding-bottom: 15px;
    }

    .p-b-md-20 {
        padding-bottom: 20px;
    }

    .p-b-md-25 {
        padding-bottom: 25px;
    }

    .p-b-md-30 {
        padding-bottom: 30px;
    }

    .p-b-md-35 {
        padding-bottom: 35px;
    }

    .p-b-md-40 {
        padding-bottom: 40px;
    }

    .p-b-md-45 {
        padding-bottom: 45px;
    }

    .p-b-md-50 {
        padding-bottom: 50px;
    }

    /* padding Top */
    .p-t-md-5 {
        padding-top: 5px;
    }

    .p-t-md-10 {
        padding-top: 10px;
    }

    .p-t-md-15 {
        padding-top: 15px;
    }

    .p-t-md-20 {
        padding-top: 20px;
    }

    .p-t-md-25 {
        padding-top: 25px;
    }

    .p-t-md-30 {
        padding-top: 30px;
    }

    .p-t-md-35 {
        padding-top: 35px;
    }

    .p-t-md-40 {
        padding-top: 40px;
    }

    .p-t-md-45 {
        padding-top: 45px;
    }

    .p-t-md-50 {
        padding-top: 50px;
    }

    /* padding Left */
    .p-l-md-5 {
        padding-left: 5px;
    }

    .p-l-md-10 {
        padding-left: 10px;
    }

    .p-l-md-15 {
        padding-left: 15px;
    }

    .p-l-md-20 {
        padding-left: 20px;
    }

    .p-l-md-25 {
        padding-left: 25px;
    }

    .p-l-md-30 {
        padding-left: 30px;
    }

    .p-l-md-35 {
        padding-left: 35px;
    }

    .p-l-md-40 {
        padding-left: 40px;
    }

    .p-l-md-45 {
        padding-left: 45px;
    }

    .p-l-md-50 {
        padding-left: 50px;
    }

    /* padding Right */
    .p-r-md-5 {
        padding-right: 5px;
    }

    .p-r-md-10 {
        padding-right: 10px;
    }

    .p-r-md-15 {
        padding-right: 15px;
    }

    .p-r-md-20 {
        padding-right: 20px;
    }

    .p-r-md-25 {
        padding-right: 25px;
    }

    .p-r-md-30 {
        padding-right: 30px;
    }

    .p-r-md-35 {
        padding-right: 35px;
    }

    .p-r-md-40 {
        padding-right: 40px;
    }

    .p-r-md-45 {
        padding-right: 45px;
    }

    .p-r-md-50 {
        padding-right: 50px;
    }

}

@media (min-width: 1200px) {
    .no-padding-lg {
        padding: 0 !important;
    }

    .no-padding-right-lg {
        padding-right: 0 !important;
    }

    .no-padding-left-lg {
        padding-left: 0 !important;
    }

    .no-padding-top-lg {
        padding-top: 0 !important;
    }

    .no-padding-bottom-lg {
        padding-top: 0 !important;
    }

    .p-lg-5 {
        padding: 5px;
    }

    .p-lg-10 {
        padding: 10px;
    }

    .p-lg-15 {
        padding: 15px;
    }

    .p-lg-20 {
        padding: 20px;
    }

    .p-lg-25 {
        padding: 25px;
    }

    .p-lg-30 {
        padding: 30px;
    }

    .p-lg-35 {
        padding: 35px;
    }

    .p-lg-40 {
        padding: 40px;
    }

    .p-lg-45 {
        padding: 45px;
    }

    .p-lg-50 {
        padding: 50px;
    }

    /* padding Bottom */
    .p-b-lg-5 {
        padding-bottom: 5px;
    }

    .p-b-lg-10 {
        padding-bottom: 10px;
    }

    .p-b-lg-15 {
        padding-bottom: 15px;
    }

    .p-b-lg-20 {
        padding-bottom: 20px;
    }

    .p-b-lg-25 {
        padding-bottom: 25px;
    }

    .p-b-lg-30 {
        padding-bottom: 30px;
    }

    .p-b-lg-35 {
        padding-bottom: 35px;
    }

    .p-b-lg-40 {
        padding-bottom: 40px;
    }

    .p-b-lg-45 {
        padding-bottom: 45px;
    }

    .p-b-lg-50 {
        padding-bottom: 50px;
    }

    /* padding Top */
    .p-t-lg-5 {
        padding-top: 5px;
    }

    .p-t-lg-10 {
        padding-top: 10px;
    }

    .p-t-lg-15 {
        padding-top: 15px;
    }

    .p-t-lg-20 {
        padding-top: 20px;
    }

    .p-t-lg-25 {
        padding-top: 25px;
    }

    .p-t-lg-30 {
        padding-top: 30px;
    }

    .p-t-lg-35 {
        padding-top: 35px;
    }

    .p-t-lg-40 {
        padding-top: 40px;
    }

    .p-t-lg-45 {
        padding-top: 45px;
    }

    .p-t-lg-50 {
        padding-top: 50px;
    }

    /* padding Left */
    .p-l-lg-5 {
        padding-left: 5px;
    }

    .p-l-lg-10 {
        padding-left: 10px;
    }

    .p-l-lg-15 {
        padding-left: 15px;
    }

    .p-l-lg-20 {
        padding-left: 20px;
    }

    .p-l-lg-25 {
        padding-left: 25px;
    }

    .p-l-lg-30 {
        padding-left: 30px;
    }

    .p-l-lg-35 {
        padding-left: 35px;
    }

    .p-l-lg-40 {
        padding-left: 40px;
    }

    .p-l-lg-45 {
        padding-left: 45px;
    }

    .p-l-lg-50 {
        padding-left: 50px;
    }

    /* padding Right */
    .p-r-lg-5 {
        padding-right: 5px;
    }

    .p-r-lg-10 {
        padding-right: 10px;
    }

    .p-r-lg-15 {
        padding-right: 15px;
    }

    .p-r-lg-20 {
        padding-right: 20px;
    }

    .p-r-lg-25 {
        padding-right: 25px;
    }

    .p-r-lg-30 {
        padding-right: 30px;
    }

    .p-r-lg-35 {
        padding-right: 35px;
    }

    .p-r-lg-40 {
        padding-right: 40px;
    }

    .p-r-lg-45 {
        padding-right: 45px;
    }

    .p-r-lg-50 {
        padding-right: 50px;
    }

}