.time-line-left {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* The line */
.time-line-left:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}
/* The date/time */
.time-line-left > li {
  position: relative;
}
.time-line-left > li .time-label {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}
.time-line-left > li .time-label span {
  display: block;
  text-align: right;
}
.time-line-left > li .time-label span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}
.time-line-left > li .time-label span:last-child {
  font-size: 2.9em;
  color: #3594cb;
}
.time-line-left > li:nth-child(odd) .time-label span:last-child {
  color: #6cbfee;
}
/* Right content */
.time-line-left > li .time-line-content-box {
  margin: 0 0 15px 25%;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}
.time-line-left > li:nth-child(odd) .time-line-content-box {
  background: #6cbfee;
}
.time-line-left > li .time-line-content-box h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* The triangle */
.time-line-left > li .time-line-content-box:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  top: 10px;
}
.time-line-left > li:nth-child(odd) .time-line-content-box:after {
  border-right-color: #6cbfee;
}
/* The icons */
.time-line-left > li .time-line-icon {
  width: 40px;
  height: 40px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}
/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .time-line-left > li .time-label span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  .time-line-left:before {
    display: none;
  }
  .time-line-left > li .time-label {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .time-line-left > li .time-label span {
    text-align: left;
  }
  .time-line-left > li .time-line-content-box {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }
  .time-line-left > li .time-line-content-box:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }
  .time-line-left > li:nth-child(odd) .time-line-content-box:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }
  .time-line-left > li .time-line-icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
.time-line-left:before {
  width: 5px;
  margin-left: -6px;
}
.time-line-left > li .time-label > span {
  font-size: 15px;
}
.time-line-left > li .time-label > span:first-child {
  font-weight: bold;
  margin-bottom: 2px;
}
.time-line-left > li .time-label > span:last-child {
  color: #303641;
  zoom: 1;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 12px;
}
.time-line-left > li .time-label > span.large {
  font-size: 17px;
}
.time-line-left > li .time-label > span.hidden + span {
  margin-top: 8px;
}
.time-line-left > li .time-line-icon {
  background: #ffffff;
  color: #d2d2d2;
  -moz-box-shadow: 0px 0px 0px 5px #f5f5f6;
  -webkit-box-shadow: 0px 0px 0px 5px #f5f5f6;
  box-shadow: 0px 0px 0px 5px #f5f5f6;
}
.time-line-left > li .time-line-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}
.time-line-left > li .time-line-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}
.time-line-left > li .time-line-icon.bg-success {
  background-color: #00a651;
  color: #fff;
}
.time-line-left > li .time-line-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}
.time-line-left > li .time-line-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}
.time-line-left > li .time-line-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}
.time-line-left > li .time-line-content-box {
  background: #f5f5f6;
  color: #737881;
  margin-bottom: 70px;
  padding: 1.7em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.time-line-left > li .time-line-content-box h2,
.time-line-left > li .time-line-content-box p {
  color: #737881;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.42857143;
}
.time-line-left > li .time-line-content-box p + p {
  margin-top: 15px;
}
.time-line-left > li .time-line-content-box h2 {
  font-size: 16px;
}
.time-line-left > li .time-line-content-box h2 a {
  color: #303641;
}
.time-line-left > li .time-line-content-box h2 span {
  zoom: 1;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.time-line-left > li .time-line-content-box:after {
  border-right-color: #f5f5f6;
}
.time-line-left > li .time-line-content-box.empty {
  background: 0;
  padding: 9px 0;
  margin-bottom: 70px;
}
.time-line-left > li .time-line-content-box.empty:after {
  visibility: hidden;
}
@media screen and (max-width: 47.2em) {
  .time-line-left > li .time-line-content-box:after {
    border-right-color: transparent;
    border-bottom-color: #f5f5f6;
    left: 10px;
  }
  .time-line-left > li .large {
    font-weight: bold;
    font-size: 16px !important;
  }
  .time-line-left > li .time-line-content-box.empty {
    background: #f5f5f6;
    padding: 1.7em;
  }
  .time-line-left > li .time-line-content-box.empty:after {
    visibility: visible;
  }
}
