<img id="{{ id }}-image" src="{{ url }}" alt="crop image description." class="form-group" style="display: block; margin: 0 auto; max-width: 100%; width: 100%;">
<form action="{{ action_url }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="{{ id }}-height"/>
    <input type="hidden" name="{{ id }}-width"/>
    <input type="hidden" name="{{ id }}-x"/>
    <input type="hidden" name="{{ id }}-y"/>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6 col-md-push-3">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <input class="btn btn-success" name="submit_button" type="submit" value="{{ save_text }}">
                    </div>

                    <div class="btn-group">
                        <a href="{{ cancel_url }}" class="btn btn-danger">{{ cancel_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
