.sauron {
    position: absolute;
    cursor: pointer;
    display: block;
    background-image: url('../img/sauron.svg');
    background-size: cover;
}

.sauron-show {
    background-image: url('../img/sauron_inverted.svg');
}

.sauron-container {
    display: inline-block;
    position: relative
}

.sauron-container-block {
    display: block;
    position: relative
}