<div class="col-md-3 clearfix" data-listing-item="true">
    <div class="list-group-item">
        <img src="{{ image }}" alt="{{ alt_text_text }}" class="img-responsive">
        <p>{{ alt_text }}</p>
        <div class="">
            {{ edit }}
            {{ delete }}
        </div>
    </div>
</div>