{% extends "form-renderer/form.html" %}
{% load jsmin variable %}

{% block form_common_error %}
    {% jsrmln %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong style="display: block">Please correct the errors.</strong>
                {% if form.non_field_errors %}
                    <ol>
                        {% for err in form.non_field_errors %}
                            <li><span>{{ err }}</span></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
        {% endif %}
    {% endjsrmln %}
{% endblock %}

{% block form-tag-open %}
    <form class="form-{{ layout }}" id="{{ form_id }}" action="{{ form_action }}" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}
          method="{{ method }}" accept-charset="utf-8">

{% endblock %}

{% block field-container %}
    <div class="control-group{% if field.errors %} error{% endif %}{% if form_field.container_class_names %} {{ form_field.container_class_names }}{% endif %}"
         id="container_{{ field.id_for_label }}">

        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }} : </label>

        <div class="controls">

            {% if form_field.has_prepend or form_field.has_append %}
                <div class="{% if form_field.has_prepend %}input-prepend {% endif %}{% if form_field.has_append %}input-append {% endif %}">
            {% endif %}

            {% if form_field.has_prepend %}{{ form_field.prepend_text }}{% endif %}
            {{ field }}
            {% if form_field.has_append %}{{ form_field.append_text }}{% endif %}
            {% if field.errors %}
                {% for error_msg in field.errors %}
                    <label class="help-block" for="{{ field.id_for_label }}">
                        {{ error_msg }}
                    </label>
                {% endfor %}
            {% else %}
                {% if field.help_text %}
                    <label for="{{ field.id_for_label }}">
                        <span class="help-block">{{ field.help_text }}</span>
                    </label>
                {% endif %}
            {% endif %}
            {% if form_field.has_prepend or form_field.has_append %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block form_submit %}
    <div class="control-group">
        <div class="controls">
            {% for button in buttons %}
                {{ button|safe }}
            {% endfor %}
        </div>
    </div>
{% endblock %}