{% extends "form-renderer/bootstrap.html" %}
{% load logger jsmin variable form_render_helper %}

{% block field-container %}
    <div class="{% if field.errors %} has-error{% endif %}{% if form_field.container_class_names %} {{ form_field.container_class_names }}{% endif %}"
         id="container_{{ field.id_for_label }}" data-validate-form="true">

        {% if field|is_checkbox %}
            <label class="control-label">{{ field }} {{ field.label }}</label>
        {% else %}
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }} : </label>

            {% if form_field.has_prepend or form_field.has_append %}
                <div class="{% if form_field.has_prepend %}input-prepend {% endif %}{% if form_field.has_append %}input-append {% endif %}">
            {% endif %}

        {% if form_field.has_prepend %}{{ form_field.prepend_text }}{% endif %}
        {{ field }}
        {% if form_field.has_append %}{{ form_field.append_text }}{% endif %}
        {% if field.errors %}
            {% for error_msg in field.errors %}
                <label class="help-block" for="{{ field.id_for_label }}">
                    {{ error_msg }}
                </label>
            {% endfor %}
        {% else %}
            {% if field.help_text %}
                <label for="{{ field.id_for_label }}">
                    <span class="help-block">{{ field.help_text }}</span>
                </label>
            {% endif %}
        {% endif %}
        {% if form_field.has_prepend or form_field.has_append %}
            </div>
        {% endif %}

            </div>
        {% endif %}

{% endblock %}