{% load jsmin variable form_render_helper %}

{% block form_common_error %}
    <div class="system error">
        {% if form_error_message %}
            <p>{{ form_error_message }}</p>
        {% endif %}
        {% if form.non_field_errors %}
            <ol>
                {% for err in form.non_field_errors %}
                    <li><span>{{ err }}</span></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}

{% block form-tag-open %}
    <form id="{{ form_id }}" action="{{ form_action }}" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}
          method="{{ method }}" accept-charset="utf-8">
{% endblock %}

{% block form-contents %}
    {% for field in form.visible_fields %}
        {% assign form_field field.field %}
        {% if form_field.html_before %}{{ form_field.html_before }}{% endif %}
        {% block field-container %}
            <div class="row{% if form_field.container_class_names %} {{ form_field.container_class_names }}{% endif %}"
                 id="container_{{ field.id_for_label }}">
                {% if field|is_checkbox %}
                    <div class="rowleft">
                        <label>{{ field }} {{ field.label }}</label>
                        {% if field.errors %}
                            {% for error_msg in field.errors %}
                                <label for="{{ field.id_for_label }}"><span class="error">{{ error_msg }}</span></label>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                                <label for="{{ field.id_for_label }}"><span>{{ field.help_text }}</span></label>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="rowleft">{{ field.label_tag }}</div>
                    <div class="rowright{% if field.errors %} error{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            {% for error_msg in field.errors %}
                                <label for="{{ field.id_for_label }}"><span class="error">{{ error_msg }}</span></label>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                                <label for="{{ field.id_for_label }}"><span>{{ field.help_text }}</span></label>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>
        {% endblock %}
        {% if form_field.html_after %}{{ form_field.html_after }}{% endif %}
    {% endfor %}
{% endblock %}

{% block form_submit %}
    <div class="row">
        {% for button in buttons %}
            {{ button }}
        {% endfor %}
    </div>
{% endblock %}

{% if csrf_token_html %}
    {{ csrf_token_html }}
{% else %}
    {% csrf_token %}
{% endif %}

{% block hidden_fields %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
{% endblock %}

</form>