{% load urltools %}
<div  {{ attrs |safe }}>
    {% csrf_token %}

    {% for button in buttons %}
        <button type="submit" name="table-action" value="{{ button.action }}" class="btn btn-{{ button.color }}">{{ button.text }}</button>
    {% endfor %}

    <div data-search="true" class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="dataTables_filter" id="{{ table_id }}_filter">
                <label>Search: <input name="{{ table_id }}-search" value="{{ search_term }}" type="text" aria-controls="{{ table_id }}"></label>
            </div>
        </div>
    </div>
    <table id="{{ table_id }}" {% if width %}style="width: {{ width }}" {% endif %}class="table table-striped table-bordered">
        <thead>
        <tr>

            {% for column in columns %}
                <th {{ column.attrs | safe }}>{{ column.title }}</th>
            {% endfor %}


        </tr>

        {% if has_column_filter %}
            <tr data-column-filter="true">
                {% for column in columns %}
                    <td{% if column.filter_class %} class="{{ column.filter_class }}" {% endif %}>{{ column.render_filter }}</td>
                {% endfor %}
            </tr>
        {% endif %}

        </thead>
        <tbody>

        {% for row in rows %}
            <tr id="{{ row.row_id }}">
                {% for cell in row.cells %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div data-pagination="true" class="row">
        <div class="col-md-6">
            <div class="dataTables_info" id="{{ table_id }}_info">
                Showing {{ paginator.from }} to {{ paginator.to }} of {{ total }} entries
                {% if prev_total %}(filtered from {{ prev_total }} total entries){% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="dataTables_paginate paging_bootstrap pagination">
                <ul class="pagination">
                    {% if paginator.has_prev %}
                        <li class="prev"><a href="{% modify_qs qs=paginator.prev_page %}">← Previous</a></li>
                    {% else %}
                        <li class="prev disabled"><a href="#">← Previous</a></li>
                    {% endif %}

                    {% for link in paginator.prev_pages %}
                        <li><a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a></li>
                    {% endfor %}

                    <li class="active"><a href="#">{{ paginator.current }}</a></li>

                    {% for link in paginator.next_pages %}
                        <li><a href="{% modify_qs qs=link.1 %}">{{ link.0 }}</a></li>
                    {% endfor %}

                    {% if paginator.has_next %}
                        <li class="next"><a href="{% modify_qs qs=paginator.next_page %}">Next → </a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next → </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
