{% for item in items %}
    <div id="{{ gallery_id }}">
        <div class="col-xs-6 col-md-3">
            <a href="{{ item.full_photo }}" rel="prettyPhoto[{{ gallery_id }}]" class="thumbnail" title="{{ item.description|default:"" }}">
                <img src="{{ item.thumbnail }}" alt="{{ item.title|default:"" }}" class="img-{{ image_style }}">
            </a>
        </div>
    </div>
{% endfor %}
