{% load static_manger %}<!DOCTYPE html>
<html{% cache_manifest app_name %}>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript">(function () {
    var redirect = function () {
        window.location = "{{ redirect|default:"/" }}";
    };

    // Check if a new cache is available on page load.
    window.addEventListener('load', function (e) {
        var appCache = window.applicationCache;

        if (!appCache) {
            redirect();
            return;
        }

        window.applicationCache.addEventListener('updateready', function (e) {
            return redirect();
        }, false);

        function handleCacheEvent(e) {
            return redirect();
        }

        function handleCacheError(e) {
            return redirect();
        }

        // Fired after the first cache of the manifest.
        appCache.addEventListener('cached', handleCacheEvent, false);
        appCache.addEventListener('error', handleCacheError, false);
        appCache.addEventListener('noupdate', handleCacheEvent, false);
        appCache.addEventListener('obsolete', handleCacheEvent, false);
        appCache.addEventListener('updateready', handleCacheEvent, false);

    }, false);

}());</script>
</body>
</html>